
<div class="booyah-box col-10 offset-1">
  <h1><%= @places.name %></h1>
  <br />
  <i><%= @places.address %></i>
  <br />
  <br />
  <p><%= @places.description %></p>
  <br />

  <% if @places.latitude.present? && @places.longitude.present? %>

  <script>

    function initMap() {
      var myLatLng = {lat: <%= @places.latitude %>, lng: <%= @places.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmobU_mY-88PS2226F6pWNEOXRU7U8BKQ=initMap">
  </script>
  <div id="map"></div>


  <div class="edit-btn">
    <% if current_user && current_user == @places.user %>
      <%= link_to 'Edit', edit_place_path(@places), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', place_path(@places), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
 